<html>
    <head>
        <link rel="stylesheet" src="/css/style.css">
       
    </head>
    <body>
        {{>header}}
        <p>Use this site to get weather forcasting</p>

        <form>
            <input placeholder="location">
            <button>Serch</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
        
        {{>footer}}
         <script src="/js/app.js"></script>
    </body>
</html>